@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Ensure the page content doesn't get hidden behind the mobile navigation */
@media (max-width: 767px) {
  body {
    padding-bottom: 4rem;
  }
}

